{% load static %}
<!--<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>HITALENT</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="">
  </head>
  <body>
    
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }} !</p>
    <button type="submit"><a href="accounts/logout">Logout</a></button>

    <div class="dashboard-list">
      <div><h3>email</h3></div>
      <hr />
      <div><h3>slack invitation</h3></div>
      <hr />
      <div>
        <h3>Language</h3>
        <h4>Choose Language:</h4>

        <div class="languages-menu">
          <h5 value="Python"><a href="">Python</a></h5>
          <h5 value="JavaScript"><a href="">Javascript</a></h5>
          <h5 value="Java"><a href="">Java</a></h5>
          <h5 value="Angular"><a href="">Angular</a></h5>
        </div>
      </div>
      <hr />
      <div><h3>github</h3></div>
    </div>
    {% else %}
    <h2>Welcome to HITALENT!!</h2>
    <h5>Please login</h5>
    <button type="submit"><a href="accounts/login">Login</a></button>
    {% endif %}
    <!--<script src="" async defer></script>-->
  </body>
</html>

